.auth-form {
    position: relative;
  }
  
  .error-message {
    background-color: #CD3232; /* Red background for error message */
    color: white;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .auth-title {
    text-align: center;
    font-size: 100em; /* Ajusta el tamaño según sea necesario */
    margin-bottom: 20px;
  }