.robot-page {
    display: flex;
    justify-content: space-between;
    padding: 20px;
  }
  
  .robot-list {
    width: 75%;
    margin-left: 50px;
    text-align: left;
  }
  
  .robot-detail {
    width: 45%;
    padding-left: 20px;
    padding-right: 50px;
  }
  
  .robot-detail .card {
    width: 100%; 
  }

  .table thead th {
    background-color: black;
    color: white;
    text-align: left;
  }
  
  .table tbody tr {
    background-color: white;
    color: black;
  }

  .robot-detail .robot-card {
    background-color: #D9D9D980; 
    border: 1px solid #000000; 
    padding: 20px;
    border-radius: 1px;
    margin-right: 50px;
    width: 427px;
    height: 429px;
  }
  
  .robot-name {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .robot-image {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .robot-image img {
    border: 1px solid #000000; 
    border-radius: 1px; 
    max-width: 100%; 
    height: 200px; 
    width: 210px;
  }
